#titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px; 
    font-weight: bold; 
    color: black;
    text-align: center; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}